.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}
@media only screen and (max-width: 680px) {
    .card {
      display:grid;
      grid-template-columns: 1fr;
    }
  }
.card a{
    text-decoration: none;
    color: white;
}
.card a:hover{
    color:aliceblue;
}