a{
    text-decoration: none;
    margin-right: 15px;
    color: black;
}
nav{
    height: 50px;
    display: flex;
    align-items: center;
}
.login{
    background-color: rgb(148, 148, 255);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin: 10px;
}
.register{
    background-color: rgb(255, 148, 148);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin: 10px;
}